# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Editor & IDE files
.vscode/
.idea/
*.sublime-workspace

# Logs & Debugging
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# Python test cache
.tox/
.coverage
nosetests.xml
*.cover
*.py,cover
htmlcov/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/
